@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;1,6..12,200&display=swap");

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: "Nunito", sans-serif;
  transition: all 0.2s linear;
  scroll-behavior: smooth;
}

.MyImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 8px solid #f9ca24;
  margin-top: 70px;
}
.Myabout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Myname {
  margin-top: 20px;
}
.MySkil {
  font-size: 18px;
}
.navbar_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.navbar_list li {
  width: 80%;
}
.navbar_list li a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #fff;
  margin: 0.5rem 0rem;
  background-color: #333;
  border-radius: 5rem;
  padding: 0.7rem;
  transition: all 0.3s ease-in-out;
}

.navbar_list li a:hover {
  background-color: #f9ca24;
}

/* left side end */
/* right side start */

.rightSide .title h3 {
  font-size: 2rem;
  color: #fff;
}

.rightSide .title h1 {
  font-size: 3rem;
  color: #fff;
}
.rightSide .title h1 span {
  color: #f9ca24;
}
.rightSide .title p {
  font-size: 2rem;
  color: #eee;
  padding: 1rem 0;
}

.cv_btn button {
  padding: 10px 45px;
  border-radius: 24px;
  border: none !important;
  margin-right: 15px;
  font-size: 24px;
  font-weight: 500;
  background-color: #333;
  color: #fff;
  font-style: normal;
}
.cv_btn button:hover {
  background-color: #f9ca24;
}
